.app {
    background: linear-gradient(to bottom, #282c34, darken(#282c34, 5));
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

//   color: #61dafb; link color